.new-product-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    text-align: left;
    padding: 2rem;
    margin-bottom: 3rem;
    font-size: 18px;
    border-radius: 10px;
    align-content: center;
    margin-top: -20px;
  }
  .new-product-form input,
  textarea {
    width: 100%;
    margin: 0.3rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 16px;
  }
  .single-input {
    padding: 0.5rem;
  }
  .submit-button {
    width: 620px;
    margin: 1rem 0.7rem;
    font-size: medium;
  }